/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
  margin: 0 auto;

}

.hlavicka {
  display: flex;
  flex-direction: row;
  margin: 30px auto;

}

.poteseni {
  display: flex;
  flex-direction: column;
  background-image: url(images/cupcake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.uvitani {
  flex: 0 0 60%;
  color: white;
  font-size: 24px;
  font-style: italic;
  max-width: 1100px;
  margin: 30px 0;
}

h1 {
  font-size: 52px;
  color: #ffffff;
  margin: 30px 0;
  line-height: 1.25;
  padding: 0;
  flex: 0 0 60%;
  display: inline-block;
}

.hlavicka {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  color: #242424;
}

.menu a:hover {
  background-color: #f195b2;
  color: white;
}

.menu a:focus,
.menu a:active {
  background-color: #d2567d;
  color: white;

}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 30px;

}

.logo {
  width: 170px;
}

.vitejte{
  display: flex;
  padding: 80px 0;
  margin: 0 auto;
}

h2 {
  color: #3e606b;
  font-size: 36px;
  line-height: 1.25;
}

.nabidka{
  display: flex;
  flex-direction: column;
  background-color:#f0f0f0;
}


.vyrobky {
  background-color: #f195b2;
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
  border: #f195b2;
  flex-grow: 0;

}

.vyrobky a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.vyrobky:hover,
.vyrobky a:focus,
.vyrobky a:active {
  background-color: #d2567d;
}

.produkty {
  display: flex;
  background-color: #f0f0f0;
  padding: 80px;
}


.produkt,
.dortpopis
{
  flex: 0 0 25%;
  padding-right:30px;
}

.dort{
  border:0;
  border-radius:  5px 5px 0 0;
}

.dortpopis{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border:0;
  border-radius: 0 0 5px 5px;
  margin:0;
}

.dortnadpis{
  text-align: center;
}

.pristup{
  display: flex;
  padding: 80px 0;
  margin: 0 auto;
}
.peceni{ 
 flex: 0 0 50%;
 border-radius: 5px;
 padding-right: 30px;
 margin: 0 auto;
}

.pravy{
  flex: 0 0 50%;
 
}

.paticka{
  background-color:#303339; 
  color:white;
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;

}
